<!DOCTYPE html>
<html>
<head>
  <title>Aclify</title>
  <%= stylesheet_link_tag    "aclify/application", media: "all" %>
  <%= javascript_include_tag "aclify/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
